// Fontstsacks
$helvetica: "helvetica neue", arial, helvetica, freesans, "liberation sans", "numbus sans l", sans-serif;
$OpenSans: "OpenSans", arial, sans-serif;

// Heading styles
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 { 
  line-height:1.2; 
  text-transform:none; 
  font-family:$OpenSans; 
  font-weight: bold; 
  margin-top: 0; 
  margin-bottom: 1.5rem;
}

h1, .h1 { @include font-size(7.0); letter-spacing: -15px; margin:0; line-height: 0.8; text-shadow: 3px 3px rgba(black, 0.15);}
h2, .h2 { @include font-size(3.0); letter-spacing: -4px; margin:0; text-shadow: 2px 2px rgba(black, 0.15);}
h3, .h3 { @include font-size(1.8); letter-spacing: -2px; margin:0;} 
h4, .h4 { @include font-size(1.5); letter-spacing: -1px; margin-top:5px;}
h5, .h5 { @include font-size(1.2); }
h6, .h6 { font-weight:normal; text-transform:none }

.sub-heading { font-weight:normal;}